*{
	margin: 0;
	padding: 0;
}

body{
	background-size: cover;
	background-position: absolute;
	background-image: url(../Imagenes/Fondo6.jpg);
	background-color: rgb(200,200,200);
	background-blend-mode: soft-light;
	font-family: "Lato", sans-serif;
}

#modal_mod_user{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: block;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_user div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_user div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_user table{
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 5%;
}

#modal_mod_user th{
	font-weight: bold;
	background: lightgrey;
}

#cerrar_updateuser{
	display: none;
}

#cerrar_updateuser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%; 
}

td{
	color: blue;
}

#modal_mod_nuser{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_nuser div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_nuser div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_nuser form{
	margin-top: 5%;	
}

#indicator{
	display: none;
}

#cerrar_mod_nuser{
	display: none;
}

#cerrar_mod_nuser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;	
}

#modal_mod_auser{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_auser div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_auser div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_auser form{
	margin-top: 5%;	
}

#cerrar_mod_auser{
	display: none;
}

#cerrar_mod_auser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;	
}

#modal_mod_cuser{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_cuser div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_cuser div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_cuser form{
	margin-top: 5%;	
}

#cerrar_mod_cuser{
	display: none;
}

#cerrar_mod_cuser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;	
}

#modal_mod_puser{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_puser div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_puser div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_puser form{
	margin-top: 5%;	
}

#cerrar_mod_puser{
	display: none;
}

#cerrar_mod_puser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;	
}

#modal_mod_uuser{
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0vh;
	left: 0;
	display: none;
	height: 100vh;
	width: 100vw;
	transition: all .5s;

}

#modal_mod_uuser div{
	width: 60%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #f4f6f7;
	opacity: 0.8;
}

#modal_mod_uuser div h2{
	background-color:  #922b21;
	color: #FFFFFF;	
	padding: 1%;
	margin: 0%;	
}

#modal_mod_uuser form{
	margin-top: 5%;	
}

#cerrar_mod_uuser{
	display: none;
}

#cerrar_mod_uuser + label{
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	color: black;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF;
	background: #922b21;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;	
}